<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Book" tabIcon="cafe"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Kiosk" tabIcon="cart"></ion-tab>
</ion-tabs>
