<!--
  Generated template for the BreakfastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>breakfast</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/breakfast1.jpg"/>
    <div class="card-title" color="gray">Eggs and Toast</div>
    <div class="card-subtitle">MONDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/breakfast2.jpg"/>
    <div class="card-title">Ring Doughnut</div>
    <div class="card-subtitle">TUESDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/breakfast3.jpg"/>
    <div class="card-title">Pancakes</div>
    <div class="card-subtitle">WEDNESDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/breakfast4.jpg"/>
    <div class="card-title">Sandwich</div>
    <div class="card-subtitle">THURSDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/breakfast5.jpg"/>
    <div class="card-title">Muesli</div>
    <div class="card-subtitle">FRIDAY</div>
  </ion-card>

</ion-content>
