<ion-header>
  <ion-navbar>
    <ion-title>DH Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/breakfast.jpg" [navPush]="breakfastPage"/>
    <div class="card-title">Breakfast (N$29.50)</div>
    <div class="card-subtitle">7:00 am - 11:00 am </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/lunch.jpg" [navPush]="lunchPage"/>
    <div class="card-title">Lunch (N$33.90)</div>
    <div class="card-subtitle">13:00 pm - 14:00 pm </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/dinner.jpg" [navPush]="dinnerPage"/>
    <div class="card-title">Dinner (N$33.90)</div>
    <div class="card-subtitle">19:00 pm - 20:00 pm</div>
  </ion-card>

</ion-content>
