<!--
  Generated template for the LunchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lunch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/lunch1.jpg"/>
    <div class="card-title" color="gray">Fish n' Chips</div>
    <div class="card-subtitle">MONDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/lunch2.jpg"/>
    <div class="card-title">Lasagna</div>
    <div class="card-subtitle">TUESDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/lunch3.jpg"/>
    <div class="card-title">Funky meal</div>
    <div class="card-subtitle">WEDNESDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/lunch4.jpg"/>
    <div class="card-title">Steak</div>
    <div class="card-subtitle">THURSDAY</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/lunch5.jpg"/>
    <div class="card-title">Potato meal</div>
    <div class="card-subtitle">FRIDAY</div>
  </ion-card>

</ion-content>
