<!--
Generated template for the KioskPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>kiosk</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/2.jpg">
      </ion-thumbnail>
      <h2>Burger @ N$25.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/3.jpg">
      </ion-thumbnail>
      <h2>MeatBalls @ N$30.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/4.jpg">
      </ion-thumbnail>
      <h2>Biltong @ N$13.00</h2>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/7.jpg">
      </ion-thumbnail>
      <h2>Cool Drink @ N$12.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/8.jpg">
      </ion-thumbnail>
      <h2>Doughnuts @ N$15.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/11.jpg">
      </ion-thumbnail>
      <h2>Milk @ N$16.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/12.jpg">
      </ion-thumbnail>
      <h2>HotDog @ N$25.00</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/kiosk/14.jpg">
      </ion-thumbnail>
      <h2>LunchBar @ N$23.00</h2>
    </ion-item>
  </ion-list>
</ion-content>
