<!--
  Generated template for the DinnerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dinner</ion-title>
  </ion-navbar>

</ion-header>



  <ion-content class="card-background-page">

    <ion-card>
      <img src="assets/imgs/dinner1.jpg"/>
      <div class="card-title" color="gray">Chicken</div>
      <div class="card-subtitle">MONDAY</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/dinner2.jpg"/>
      <div class="card-title">Rice & Gravy n' Sausage </div>
      <div class="card-subtitle">TUESDAY</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/dinner3.jpg"/>
      <div class="card-title">Mixed Veggie meal</div>
      <div class="card-subtitle">WEDNESDAY</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/dinner4.jpg"/>
      <div class="card-title">Ribs</div>
      <div class="card-subtitle">THURSDAY</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/dinner5.jpg"/>
      <div class="card-title">Salmon</div>
      <div class="card-subtitle">FRIDAY</div>
    </ion-card>
</ion-content>
