<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
     <ion-label floating>Student number</ion-label>
     <ion-input type="text" [(ngModel)]="menu.studentNumber"></ion-input>
   </ion-item>

   <ion-item>
      <ion-label floating>Phone number</ion-label>
      <ion-input type="text" [(ngModel)]="menu.phoneNumber"></ion-input>
    </ion-item>

   <ion-item>
     <ion-label>Breakfast</ion-label>
   <ion-select [(ngModel)]="menu.breakfast">
     <ion-option value="Yes">Yes</ion-option>
     <ion-option value="No">No</ion-option>
   </ion-select>
   </ion-item>

   <ion-item>
     <ion-label>Lunch</ion-label>
   <ion-select [(ngModel)]="menu.lunch">
     <ion-option value="Yes">Yes</ion-option>
     <ion-option value="No">No</ion-option>
   </ion-select>
   </ion-item>

   <ion-item>
     <ion-label>Dinner</ion-label>
   <ion-select [(ngModel)]="menu.dinner">
     <ion-option value="Yes">Yes</ion-option>
     <ion-option value="No">No</ion-option>
   </ion-select>
   </ion-item>


<button ion-button block (click)="addMenu(menu)">Proceed</button>
</ion-content>
